<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.goodservice.db.dao.GoodDao">
    <insert id="insertgood" parameterType="Map">
        insert into good
        SET id = #{id}, name = #{name}, type = #{type},
            sum = #{sum}, price = #{price},
            address = #{address}, detail = #{detail}, other = #{other}, img = #{img}
    </insert>

    <update id="updategood" parameterType="Map">
        update good
        SET
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="type!=null">
            type = #{type},
        </if>
        <if test="sum!=null">
            sum = #{sum},
        </if>
        <if test="price!=null">
            price = #{price},
        </if>
        <if test="address!=null">
            address = #{address},
        </if>
        <if test="detail!=null">
            detail = #{detail},
        </if>
        <if test="other!=null">
            other = #{other},
        </if>
        <if test="img!=null">
            img = #{img},
        </if>
        id=#{id}
        where id = #{id}
    </update>

    <delete id="deletegood" parameterType="String">
        delete from good where id = #{id}
    </delete>

    <select id="selectOne" parameterType="Map" resultType="map">
        select * from good where
        id = #{id}
    </select>
</mapper>