<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fileservice.db.dao.FileDao">
    <insert id="insertfile" parameterType="Map">
        insert into file
        SET id = #{id}, type = #{type}, size = #{size},
            url = #{url}, createTime = #{createTime}
    </insert>

    <delete id="deletefile" parameterType="String">
        delete from file where id = #{id}
    </delete>

    <update id="updatefile" parameterType="Map">
        update file
        SET type = #{type}, size = #{size},
            url = #{url}, createTime = #{createTime}
        where id = #{id}
    </update>
</mapper>